<a href="https://colab.research.google.com/github/Reddysaikowshik/PYTHON-FOR-DATA-SCIENCE/blob/main/Assignment_11_(08th_Sep).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

print("="*40)
print("Missing Values Before Cleaning:")
print("="*40)
print(df.isnull().sum())
print("\n")

age_mean = df['age'].mean()
embarked_mode = df['embarked'].mode()[0]

df['age'] = df['age'].fillna(age_mean)
df['embarked'] = df['embarked'].fillna(embarked_mode)

df.drop(['deck', 'embark_town'], axis=1, inplace=True)

print("="*40)
print("Missing Values After Cleaning:")
print("="*40)
print(df.isnull().sum())
print("\n")

print("="*40)
print("First 5 Rows of Cleaned Data:")
print("="*40)
print(df.head())

========================================
Missing Values Before Cleaning:
========================================
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64


========================================
Missing Values After Cleaning:
========================================
survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked      0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64


========================================
First 5 Rows of Cleaned Data:
========================================
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male alive  alone
0    man        True    no  False
1  woman       False   yes  False
2  woman       False   yes   True
3  woman       False   yes  False
4    man        True    no   True