<a href="https://colab.research.google.com/github/Reddysaikowshik/PYTHON-FOR-DATA-SCIENCE/blob/main/Assignment_12_(08th_Sep).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    'StudentID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona', 'George', 'Hannah'],
    'Gender': ['Female', 'M', 'male', 'F', 'Male', 'female', 'male', 'Female']
}
df = pd.DataFrame(data)

print("="*35)
print("Categories Before Standardization:")
print("="*35)
print(df['Gender'].value_counts())
print("\n")

gender_map = {
    'M': 'Male',
    'male': 'Male',
    'Male': 'Male',
    'F': 'Female',
    'female': 'Female',
    'Female': 'Female'
}

df['Gender'] = df['Gender'].replace(gender_map)

print("="*35)
print("Categories After Standardization:")
print("="*35)
print(df['Gender'].value_counts())
print("\n")

print("="*35)
print("Cleaned DataFrame:")
print("="*35)
print(df)

===================================
Categories Before Standardization:
===================================
Gender
Female    2
male      2
M         1
F         1
Male      1
female    1
Name: count, dtype: int64


===================================
Categories After Standardization:
===================================
Gender
Female    4
Male      4
Name: count, dtype: int64


===================================
Cleaned DataFrame:
===================================
   StudentID     Name  Gender
0        101    Alice  Female
1        102      Bob    Male
2        103  Charlie    Male
3        104    Diana  Female
4        105     Evan    Male
5        106    Fiona  Female
6        107   George    Male
7        108   Hannah  Female